@media (max-width: 600px) {

    /* HEADER */

    header aside.criar-legiao {
        top: 34.93vw;
        left: 76.24vw;
        font-size: 0.563rem;
        /* line-height: 4.27vw; */
    }

    header aside p.borda-legiao {
        border-width: 0.8vw;
        padding-bottom: 0.8em;
        margin-bottom: 0.8em;
    }

    header aside p.grupo-quatro {
        font-size: 0.5rem;
    }

    header aside p.grupo-quatro span.parte-grupo-quatro {
        font-size: 0.8rem;
    }

    header aside p span.grupo-quatro-nav {
        font-size: 2vw;
    }

    /* MAIN */

    main aside.star-wars-robot {
        height: 237.33vw;
        background-size: auto 134.67vw;
    }

    main aside.star-wars-robot div.stormtrooper-red {
        height: 87.47vw;
        width: 59.2vw;
        top: 58.13vw;
        left: 30.4vw;
        z-index: 2;
    }

    main aside.star-wars-robot div.stormtrooper-red h3 {
        font-size: 1.75em;
        line-height: 2.375rem;
        padding: 12vw 13.6vw 0 14.93vw;
    }

    main aside.star-wars-robot div.stormtrooper-red p {
        font-size: 0.775rem;
        line-height: 5.07vw;
        padding: 7.73vw 9.93vw 0 8.67vw;
    }

    main aside.star-wars-robot div.stormtrooper-red a {
        width: 30.4vw;
        height: 7.47vw;
        font-size: 0.875rem;
        line-height: 5.07vw;
        border-radius: 1.33vw;
        margin-top: 6.1vw;
    }

    main aside.star-wars-robot div.stormtrooper-red p.test-update {
        font-size: 0.5rem;
        text-align: center;
        display: block;
        line-height: 2.13vw;
        margin-left: -7vw;
    }

    main aside.star-wars-robot div.sobre-o-jogo {
        width: 80.53vw;
        height: 83.04vw;
        position: absolute;
        left: 9.73vw;
        top: 149.87vw;
        z-index: 2;
    }

    main aside.star-wars-robot div.sobre-o-jogo div.sobre-o-jogo-texto {
        position: absolute;
        top: 38.71vw;
        right: 0;
        width: 100%;
    }

    main aside.star-wars-robot div.sobre-o-jogo div h3 {
        width: 28.50vw;
        margin-left: 51.91vw;
        font-size: 0.88rem;
        font-weight: bold;  
    }

    main aside.star-wars-robot div.sobre-o-jogo div div.separador-sobre-o-jogo {
        height: 0.8vw;
        width: 38.66vw;
        margin-left: 41.44vw;
    }
    

    main aside.star-wars-robot div.sobre-o-jogo div.sobre-o-jogo-texto p {
        height: fit-content;
        width: 80.53vw;
        font-size: 0.9rem;
        line-height: 5.07vw;
    }

    main aside.star-wars-robot div.sobre-o-jogo img {
        height: 35.2vw;
        width: 59.73vw;
        position: absolute;
        top: 0;
        left: 20.67vw;
    }
    
    main aside.star-wars-robot div.separador-estrutura-de-jogo {
        width: 80.53vw;
        height: 1.20vw;
        top: 237.07vw;
        left: 9.73vw;
    }

    main aside.star-wars-robot div.lord-sith img {
        max-width: 46.13vw;
        top: 244.53vw;
        left: 2.67vw;
    }

    main aside.star-wars-robot div.estrutura-de-jogo h2 {
        width: 22.67vw;
        font-size: 0.84rem;
        padding-left: 2.3vw;
        position: absolute;
        top: 162.53vw;
        left: 0.88vw;
    }

    main aside.star-wars-robot div.estrutura-de-jogo ul {
        width: 38.93vw;
        position: absolute;
        top: 173.2vw;
        left: -14.13vw;
    }

    main aside.star-wars-robot div.estrutura-de-jogo ul li {
        font-size: 0.5rem;
        line-height: 2.93vw;
    }

    main aside.star-wars-robot div.jedi-rey img {
        max-width: 24.27vw;
        top: 244.53vw;
        left: 66.67vw;
    }

    main aside.star-wars-atributos {
        height: 366.67vw;
    }

    main aside.star-wars-atributos h3.atributos {
        font-size: 0.94rem;
        line-height: 3.33vw;
        letter-spacing: 0.12vw;
        position: absolute;
        top: 14.02vw;
        left: 39.07vw;
    }

    main aside.star-wars-atributos div.galeria-fotos {
        height: 245.33vw;
        width: 80.53vw;
        flex-direction: column;
        top: 22.4vw;
        border: 1px solid fuchsia;
    }

    main aside.star-wars-atributos div.galeria-fotos div.game-review-star-wars, main aside.star-wars-atributos div.galeria-fotos div div.galeria-fotos-externa {
        width: 79.73vw;
        height: 48.8vw;
    }

    main aside.star-wars-atributos div.galeria-fotos div.game-review-star-wars img,
    main aside.star-wars-atributos div.galeria-fotos div div.galeria-fotos-externa img {
        width: 79.73vw;
    }

    main aside.star-wars-atributos div img.hierarquia {
        max-width: 99.73vw;
        height: 59.99vw;
        top: 274.4vw;
        left: 0;
    }

    main aside.star-wars-atributos > p {
        max-width: 60.73vw;
        font-size: 0.5rem;
        line-height: 2.93vw;
        top: 334.39vw;
        left: 30.4vw;
    }

    main aside.star-wars-atributos div img.stormtrooper-capa-preta {
        max-width: 60.53vw;
        top: 350.87vw;
        left: -24.71vw;
    }

    main aside.star-wars-atributos h3.como-jogar {
        font-size: 0.938rem;
        top: 351.46vw;
        left: 55.6vw;
    }
}