@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
} 

body {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */

header {
    height: 43.5vw;
    position: relative;
    background: url("../img/star-wars-header.png") no-repeat center;
    background-size: 100vw;
}

header aside img.star-header {
    max-width: 23.8vw;
    position: absolute;
    left: 19.1vw;
    top: 23.6vw;
}

header aside img.wars-header {
    max-width: 26.1vw;
    position: absolute;
    top: 23.6vw;
    left: 64.8vw;
}

header aside img.kylo-header {
    max-width: 70.4vw;
    position: absolute;
    top: 0;
    left: 10vw;
}

header aside.criar-legiao {
    position: absolute;
    top: 33.4vw;
    left: 79.2vw;
}

header aside p.borda-legiao {
    border-bottom: 0.1vw solid #000;
    padding-bottom: 0.8em;
    margin-bottom: 0.8em;
}

header aside p span.legiao {
    font-weight: bold;
}

header aside p.grupo-quatro {
    font-size: 0.75vw;
}

header aside p span.parte-grupo-quatro {
    font-size: 1.25vw;
}

header aside p span.grupo-quatro-nav {
    background-color: #a0afab;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    padding: 0.05vw 0.16vw 0 0.10vw;
    font-size: 0.3vw;
}

/* MAIN */

main aside.star-wars-robot {
    height: 75.1vw;
    background: url("../img/star-wars-robot.png") no-repeat left;
    background-size: auto 75.1vw;
}

main aside.star-wars-robot div.stormtrooper-red {
    height: 30.4vw;
    width: 20.7vw;
    background-image: url("../img/stormtrooper-red.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 40.6vw;
    left: 14.5vw;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main aside.star-wars-robot div.stormtrooper-red h3 {
    font-size: 2.6vw;
    font-weight: 400;
    padding: 4.17vw 5.05vw;
}

main aside.star-wars-robot div.stormtrooper-red p {
    font-size: 1.04vw;
    font-weight: 300;
    padding: 0 1.72vw 0 1.67vw;
    text-align: left;
    letter-spacing: 0;
}

main aside.star-wars-robot div.stormtrooper-red a {
    color: #fff;
    border: 0.15vw solid #fff;
    width: 10.42vw;
    height: 2.6vw;
    font-size: 1.04vw;
    font-weight: 400;
    line-height: 2.6vw;
    border-radius: 0.26vw;
    font-weight: 300;
    margin-top: 3vw;
    transition: 0.3s ease-in-out;
}

main aside.star-wars-robot div.stormtrooper-red a:hover {
    background-color: #fff;
	color: #D74430;
}

main aside.star-wars-robot div.stormtrooper-red p.test-update {
    font-size: 0.6vw;
    font-weight: 300;
    text-align: right;
    width: 100%;
    display: block;
    line-height: 0.73vw;
    padding-right: 0.52vw;
    margin-top: 1.82vw;
}

main aside.star-wars-robot div.sobre-o-jogo {
    width: 49.5vw;
    height: 13vw;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 43.1vw;
    top: 58vw;
}

main aside.star-wars-robot div.sobre-o-jogo div h3 {
    text-align: right;
    font-size: 1.56vw;
    font-weight: bold;  
}

.separador {
    height: 0.10vw;
    background-color: #000;
}

main aside.star-wars-robot div.sobre-o-jogo div div.separador-sobre-o-jogo {
    margin: 0.8vw 0 0.8vw 20.8vw;
    width: 7.8vw;
}

main aside.star-wars-robot div.sobre-o-jogo div p {
    height: 7vw;
    width: 28.6vw;
    font-size: 1.04vw;
    text-align: right;
    font-weight: 400;
    line-height: 1.41vw;
    padding-top: 2.1vw;
}

main aside.star-wars-robot div.sobre-o-jogo img {
    height: 12.8vw;
    width: 20.3vw;
}

main aside.star-wars-robot div.separador-estrutura-de-jogo {
    width: 78.22vw;
    position: absolute;
    left: 14.5vw;
    top: 76.6vw;
    height: 0.26vw;
    background-color: #707070;
}

main aside.star-wars-robot div.lord-sith img {
    max-width: 44.06vw;
    position: absolute;
    top: 77.97vw;
    left: 14.5vw;
    z-index: 1;
}

main aside.star-wars-robot div.estrutura-de-jogo {
    max-width: 26.93vw;
    position: absolute;
    top: 81.35vw;
    left: 44.22vw;
    z-index: 2;
}

main aside.star-wars-robot div.estrutura-de-jogo h2 {
    font-size: 3.65vw;
    padding-left: 6.3vw;
    color: #000;
    font-weight: 600;
    text-align: right;
    line-height: 3.65vw;
    padding-bottom: 2.1vw;
}

main aside.star-wars-robot div.estrutura-de-jogo h2 span {
    font-weight: 900;
}

main aside.star-wars-robot div.estrutura-de-jogo ul {
    width: 100%;
    text-align: right;
    padding-right: 0.94vw;
}

main aside.star-wars-robot div.estrutura-de-jogo ul li {
    font-size: 1.30vw;
    margin-bottom: 1.56vw;
    line-height: 2.14vw;
    padding-right: 0.98vw;
}

main aside.star-wars-robot div.estrutura-de-jogo ul li:hover {
    background-color: #d74430;
    color: #fff;
}

main aside.star-wars-robot div.jedi-rey img {
    max-width: 20.73vw;
    position: absolute;
    top: 82.86vw;
    right: 7.29vw;
    z-index: 1;
}

main aside.star-wars-atributos {
    background-color: #2d2d2d;
    position: relative;
    height: 122.14vw;
}

main aside.star-wars-atributos h3.atributos {
    color: #fff;
    font-size: 2.60vw;
    position: absolute;
    top: 9.3vw;
    left: 14.5vw;
}

main aside.star-wars-atributos div.galeria-fotos {
    max-width: 85.63vw;
    height: 26.15vw;
    position: absolute;
    top: 16.15vw;
    left: 7.29vw;
    display: flex;
}

main aside.star-wars-atributos div.galeria-fotos div.game-review-star-wars {
    width: 42.92vw;
    height: 26.15vw;
    position: relative;
}

main aside.star-wars-atributos div.galeria-fotos div.game-review-star-wars img {
    width: 42.92vw;
}

main aside.star-wars-atributos div.galeria-fotos div.game-review-star-wars div.galeria-fotos-interna {
    width: 45.06vw;
    height: 27.45vw;
    position: absolute;
    top: -0.65vw;
    left: -1.07vw;
    transform: scale(0);
    transition: 0.3s ease-in-out;
    color: #fff;
}

main aside.star-wars-atributos div.galeria-fotos div.game-review-star-wars:hover > .galeria-fotos-interna {
    transform: scale(1);
}

main aside.star-wars-atributos div.galeria-fotos > div {
    width: 42.7vw;
    display: flex;
    flex-wrap: wrap;
}

main aside.star-wars-atributos div.galeria-fotos div div.galeria-fotos-externa {
    width: 21.35vw;
    max-height: 13.07vw;
    position: relative;
}

main aside.star-wars-atributos div.galeria-fotos div div.galeria-fotos-externa img {
    width: 21.35vw;
}

main aside.star-wars-atributos div.galeria-fotos div div.galeria-fotos-externa div.galeria-fotos-interna {
    width: 22.4vw;
    height: 14.01vw;
    position: absolute;
    top: -0.47vw;
    left: -0.53vw;
    transform: scale(0);
    transition: 0.3s ease-in-out;
    color: #fff;
}

main aside.star-wars-atributos div.galeria-fotos div div.galeria-fotos-externa:hover > .galeria-fotos-interna {
    transform: scale(1);
}

.pink {
    background-color: rgba(215, 53, 184, .7);
}

.red {
    background-color: rgba(215, 68, 48, .7);
}

.yellow {
    background-color: rgba(217, 138, 2, .7);
}

.green {
    background-color: rgba(0, 215, 40, .7);
}

.blue {
    background-color: rgba(51, 48, 215, .7);
}

main aside.star-wars-atributos div.galeria-fotos div.game-review-star-wars div.galeria-fotos-interna h4 {
    width: 6.41vw;
    height: 2.66vw;
    font-size: 2.60vw;
    font-weight: 800;
    line-height: 2.35vw;
    letter-spacing: 0.01vw;
    position: absolute;
    top: 4.29vw;
    left: 3.92vw;
}

main aside.star-wars-atributos div.galeria-fotos div.game-review-star-wars div.galeria-fotos-interna p {
    width: 32.34vw;
    height: 2.08vw;
    font-size: 1.6vw;
    font-weight: 100;
    line-height: 2vw;
    letter-spacing: 0;
    position: absolute;
    top: 11.61vw;
    left: 3.92vw;
}

main aside.star-wars-atributos div.galeria-fotos div.game-review-star-wars div.galeria-fotos-interna a {
    width: 12.06vw;
    height: 3.60vw;
    font-size: 1.9vw;
    font-weight: 300;
    line-height: 3.3vw;
    letter-spacing: 0;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 19.47vw;
    left: 3.83vw;
    border: 0.16vw solid #fff;
    transition: 0.3s ease-in-out;
}

main aside.star-wars-atributos div.galeria-fotos div.game-review-star-wars div.galeria-fotos-interna a:hover {
    background-color: #fff;
	color: #D74430;
}

main aside.star-wars-atributos div.galeria-fotos div div.galeria-fotos-externa div.galeria-fotos-interna h4 {
    width: 6.41vw;
    height: 2.66vw;
    font-size: 1.30vw;
    font-weight: 700;
    line-height: 1.35vw;
    letter-spacing: 0.04vw;
    position: absolute;
    top: 2.01vw;
    left: 2.14vw;
}

main aside.star-wars-atributos div.galeria-fotos div div.galeria-fotos-externa div.galeria-fotos-interna p {
    width: 17.34vw;
    height: 2.08vw;
    font-size: 0.78vw;
    font-weight: 300;
    line-height: 1.04vw;
    letter-spacing: 0;
    position: absolute;
    top: 5.99vw;
    left: 2.14vw;
}

main aside.star-wars-atributos div.galeria-fotos div div.galeria-fotos-externa div.galeria-fotos-interna a {
    width: 9.06vw;
    height: 2.60vw;
    font-size: 1.04vw;
    font-weight: 300;
    line-height: 2.3vw;
    letter-spacing: 0;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 10.47vw;
    left: 0.83vw;
    border: 0.16vw solid #fff;
    transition: 0.3s ease-in-out;
}

main aside.star-wars-atributos div.galeria-fotos div div.galeria-fotos-externa div.galeria-fotos-interna a:hover {
    background-color: #fff;
	color: #D74430;
}

main aside.star-wars-atributos div img.hierarquia {
    max-width: 85.42vw;
    height: 51.56vw;
    position: absolute;
    top: 45.57vw;
    left: 7.29vw;
}

main aside.star-wars-atributos > p {
    max-width: 42.29vw;
    color: #fff;
    font-size: 1.04vw;
    font-weight: 300;
    line-height: 1.41vw;
    position: absolute;
    top: 98.44vw;
    left: 50.42vw;
    text-align: right;
}

main aside.star-wars-atributos div img.stormtrooper-capa-preta {
    max-width: 27.97vw;
    position: absolute;
    top: 100.47vw;
    left: 7.29vw;
}

main aside.star-wars-atributos h3.como-jogar {
    color: #fff;
    font-size: 2.60vw;
    position: absolute;
    top: 110.55vw;
    left: 43.23vw;
}

main aside.escolha-o-jogo {
    max-width: 100vw;
    height: 22.6vw;
    position: relative;
}

main aside.escolha-o-jogo div.como-jogar-caixas-escolhas {
    width: 13.54vw;
    height: 15.7vw;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 4.84vw;
    left: 36.04vw;
}

main aside.escolha-o-jogo div.posicionamento-escolha-o-jogo {
    max-width: 63.96vw;
    display: flex;
    justify-content: space-around;
}

main aside.escolha-o-jogo div.como-jogar-caixas-escolhas p {
    font-size: 2.60vw;
    font-weight: 300;
    color: #000;
    line-height: 3.65vw;
}

main aside.escolha-o-jogo div.como-jogar-caixas-escolhas a {
    display: block;
    margin-top: 1.93vw;
    margin-bottom: 1.98vw;
    background-color: #000;
    font-size: 1.56vw;
    letter-spacing: 0.1vw;
    font-weight: 300;
    line-height: 3.65vw;
    color: #fff;
    transition: ease-in-out 0.3s;
}

main aside.escolha-o-jogo div.como-jogar-caixas-escolhas p:nth-child(3) {
    font-size: 1.4vw;
    letter-spacing: 0.1vw;
    font-weight: 300;
    line-height: 1.41vw;
    margin-bottom: 29.5px;
    width: 200px;
    display: inline-block;
}

main aside.escolha-o-jogo div div.separador-escolha {
    width: 5.21vw;
    height: 0.26vw;
    background-color: #000;
    position: relative;
    left: 4.35vw;
    transition: ease-in-out 0.3s;
}

main aside.escolha-o-jogo div.como-jogar-caixas-escolhas p {
    transition: ease-in-out 0.3s;
}

main aside.escolha-o-jogo div.como-jogar-caixas-escolhas:hover p:first-child {
    font-weight: 900;
}

main aside.escolha-o-jogo div.como-jogar-caixas-escolhas:hover a {
    box-shadow: inset #d74430 13.54vw 0;
}

main aside.escolha-o-jogo div.como-jogar-caixas-escolhas:hover > div.separador-escolha {
    box-shadow: inset #d74430 5.21vw 0;
}

/* FOOTER */

footer {
    max-width: 100vw;
    height: 53.44vw;
    position: relative;
}

footer section {
    max-width: 63.96vw;
    height: 45.94vw;
    background-color: #ff5a56;
    color: #fff;
    position: relative;
    left: 0;
    top: 7.5vw;
}

footer section h3 {
    max-width: 15.26vw;
    height: 2.6vw;
    font-size: 2.60vw;
    font-weight: 800;
    line-height: 3.65vw;
    letter-spacing: 0.1vw;
    position: absolute;
    top: 6.85vw;
    left: 14.53vw;
}

footer section p.aplicativo-footer {
    max-width: 27.92vw;
    height: 5vw;
    font-size: 1.04vw;
    font-weight: 300;
    line-height: 1.41vw;
    position: absolute;
    top: 12.86vw;
    left: 14.53vw;
}


footer section div a img {
    width: 13.54vw;
    height: 4vw;
}

footer section div a.google-image {
    width: 13.54vw;
    height: 4vw;
    position: absolute;
    top: 18.75vw;
    left: 14.53vw;
}

footer section div a.apple-image {
    max-width: 13.54vw;
    height: 4vw;
    position: absolute;
    top: 18.75vw;
    left: 28.85vw;
}

footer section div.separador-footer {
    width: 27.94vw;
    height: 0.26vw;
    background-color: #d74430;
    position: absolute;
    left: 14.53vw;
    top: 26.12vw;
}

footer section img.footer-star-wars {
    max-width: 13.44vw;
    height: 6.56vw;
    position: absolute;
    top: 29.48vw;
    left: 14.53vw;
}

footer section div {
    width: 27.92vw;
}

footer section p.politicas-internacionais {
    max-width: 27.92vw;
    height: 6.04vw;
    font-size: 1.04vw;
    font-weight: 300;
    line-height: 1.41vw;
    letter-spacing: 0.02vw;
    position: absolute;
    top: 37.60vw;
    left: 14.53vw;
}

footer aside {
    max-width: 39.38vw;
    height: 50.3vw;
    position: absolute;
    right: 7.29vw;
    top: 0.83vw;
}

footer aside img {
    max-width: 39.38vw;
    height: 50.3vw;
}

footer aside p {
    max-width: 19.48vw;
    height: 3.75vw;
    font-size: 0.78vw;
    font-weight: 300;
    line-height: 1.04vw;
    position: absolute;
    bottom: 0;
    right: 2.3vw;
}
